/* Général */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

#main_content {
    padding: 0 3.5vw;
}

/* Header */
header {
    padding: 0 3.5vw;
}

#logo {
    width: 100px;
    padding-top: 3em;
    float: left;
}

#register {
    position: absolute;
    right: 5vw;
    top: 3em;
    color: #0065FC;
    font-weight: 900;
}

.options {
    position: absolute;
    top: 0;
    right: 12vw;
    padding-top: 3em;
}

.options a {
    padding: 2.9em 2.2vw;
}

.options a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* titre */
h1 {
    font-size: 1.35em;
    font-weight: 900;
    clear: both;
    padding-top: 1.3em;
}

/* Recherche */
form {
    display: flex;
    height: 50px;
    line-height: 50px;
    margin: 1.3em 0 2em 0;
}

.location_icon {
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    font-size: 1.2em;
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search_input {
    display: inline-block;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    width: 235px;
    padding: 0 15px;
    font-size: 1em;
    font-weight: 700;
    line-height: 50px;
}

.submit {
    display: inline-block;
    color: #ffffff;
    background-color: #0065FC;
    border: none;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding: 0 15px;
    cursor: pointer;
}

#submit_desktop {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 132px;
}

#submit_mobile {
    display: none;
    border-radius: 15px;
    width: 50px;
    background-image: url('assets/search-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    color: #ffffff;
    position: relative;
    right: 10px;
}

/* Filtres */
.filter_title {
    font-weight: 700;
    font-size: 1.2em;
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 0 1.5em 0 0.8em;
}

.filter_container {
    display: flex;
    margin-bottom: 2em;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter_vignette {
    display: flex;     
    width: fit-content;
    margin-bottom: 0.8em;
    margin-right: 1em;
    position: relative;
}

.filter_vignette:hover .filter_text {
    color: #ffffff;
    cursor: pointer;
    border: 3px solid #0065FC;
    background-color: #0065FC;
}

.filter_icon {
    color: #0065FC;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 1.1em;
    z-index: 2;
    position: absolute;
    left: -1px;
}

.filter_text {
    font-weight: 700;
    font-size: 1.1em;
    padding-right: 0.9em;
    line-height: 42px;
    height: 50px;
    padding-left: 60px;
    border: 3px solid #F2F2F2;
    border-radius: 35px;
}

/* Info */
.info_container {
    display: flex;
    align-items: center;
}

.info_icon {
    display: inline-block;
    border: 2px solid #F2F2F2;
    color: #0065FC;
    width: 28px;
    height: 28px;
    line-height: 23px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 50%;
    margin-left: 0.8em;
}

.info_text {
    margin-left: 0.5em;
}

/* Hebergements */
.container_hebergements_populaires {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2em;
}

.container_hebergements {
    background-color: #F2F2F2;
    width: 66%;
    padding: 1.5% 2.5%;
    border-radius: 25px;
}

.container_hebergements_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vignette_hebergement {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px -3px #d3d1d1;
    padding: 0.3em;
    width: 17vw;
    max-width: 246px;
    min-width: 220px;
    height: auto;
    min-height: 200px;
    margin: 1em 5px;
}

.image_hebergements {
    width: 100%;
    height: 112px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.hotel_name {
    font-weight: 900;
    padding: 10px 10px 6px 10px;
}

.hotel_price {
    font-size: 0.9em;
    padding: 0 10px;
}

.stars {
    padding: 6px 10px 0 10px;
    font-size: 0.7em;
    letter-spacing: 2px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.show_more {
    font-weight: 900;
}

.container_populaires {
    background-color: #F2F2F2;
    width: 31%;
    padding: 2em;
    border-radius: 25px;
}

.populaires_title {
    position: relative;
}

.fa-chart-line {
    position: absolute;
    right: 0;
}

.container_populaires_flex {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vignette_populaire {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px -3px #d3d1d1;
    padding: 0.3em;
    width: 340px;
    height: 145px;
    margin-bottom: 4%;
}

.inside_container_pop {
    display: flex;
}

.image_populaire {
    width: 126px;
    height: 133px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    flex-shrink: 0;
}

.vignette_pop_text {
    padding: 8px;
}

.vignette_pop_text .stars {
    padding-top: 30px;
}

/* activités */

#activities {
    margin-top: 3em;
}

.container_activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3em;
}

.vignettes_activites {
    width: 20.8vw;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px -3px #d3d1d1;
}

.image_activites {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image_big {
    height: 390px;
}

.image_medium {
    height: 180px;
}

.image_small {
    height: 108px;
}

.double_activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites_nom {
    padding: 1em;
    font-weight: 900;
}

/* footer */

footer {
    background-color: #F2F2F2;
    margin: 0;
    display: flex;
}

.bloc_footer {
    padding: 3em;
    width: 32%;
}

.bloc_footer p {
    font-weight: 900;
    margin-bottom: 1em;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    margin-bottom: 0.8em;
}

/* ------------------------MEDIA QUERIES--------------------- */

@media (max-width: 1275px) {
    .container_hebergements_populaires {
        display: block;
    }
    .container_hebergements {
        width: 100%;
    }
    .vignette_hebergement {
        width: 35vw;
        max-width: 290px;
    }
    .container_hebergements_flex {
        justify-content: space-around;
    }
    .container_populaires {
        width: 100%;
        margin: 1em 0;
        padding: 1.5% 2.5%;
    }
    .container_populaires_flex {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .vignette_pop_text .stars {
        padding-top: 10px;
    }
    .container_activites {
        justify-content: center;
    }
    .vignettes_activites {
        width: 20vw;
        height: 200px;
        margin: 1.5em;
    }
    .image_activites {
        height: 145px;
    }
    .double_activites {
        flex-direction: row;
    }
}

@media (max-width: 900px) {
    .vignette_populaire {
        width: 70vw;
        margin: auto;
        margin-bottom: 1em;
    }
    .vignette_pop_text .stars {
        padding-top: 30px;
    }
    .vignettes_activites {
        width: 80vw;
        max-width: 900px;
        height: 200px;
        margin: 1.5em 0;
    }
    .double_activites {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        padding: 1em 0;
    }
    .bloc_footer {
        margin: 2em auto 0 auto;
        width: 85vw;
        padding: 0;
    }
    .options {
        right: 18vw;
    }
    .filter_title {
        float: none;
        margin-bottom: 0.5em;
    }
    .filter_container {
        width: 90vw;
        margin: auto;
    }
    h2 {
        padding: 0 5vw;
    }
}

@media (max-width: 600px) {
    #main_content {
        padding: 0;
    }
    #logo {
        width: 120px;
        padding: 2em 1em;
    }
    #register {
        top: 3em;
    }
    .options {
        position: static;
        clear: both;
        width: 100%;
        padding-top: 0;
        display: flex;
        justify-content: space-around;
    }
    .options a {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding: 0 0 15px 0; 
    }
    .options a:hover {
        border: none;
    }
    .option_housing {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    .option_activities {
        border-bottom: 3px solid #F2F2F2;
    }
    h1 {
        font-size: 1.4em;
        padding: 1em 5vw 0 5vw;
    }
    .fa-chart-line {
        right: 5vw;
    }
    .subtitle {
        padding: 0 5vw;
    }
    .search {
        padding-left: 0.7em;
    }
    .location_icon {
        width: 15vw;
    }
    .search_input {
        width: 80vw;
    }
    #submit_desktop {
        display: none;
    }
    #submit_mobile {
        display: inline;
        width: 15vw;
    }
    .filter_vignette {
        margin-right: 10px;
    }
    .filter_text {
        font-size: 1em;
    }
    .info_container {
        align-items: flex-start;
        margin-top: 1em;
        height: 50px;
    }
    .info_text {
        width: 350px;
        align-self: center;
    }
    .vignette_populaire {
        width: 90vw;
    }
    .container_hebergements_populaires {
        display: block;
    }
    .container_hebergements {
        background-color: #ffffff;
        width: 100%;
        padding: 0;
    }
    .container_hebergements_flex {
        margin-bottom: 1.5em;
    }
    .vignette_hebergement {
        width: 90vw;
        max-width: 600px;
        margin: auto;
        margin-bottom: 1em;
    }
    .show_more {
        padding-left: 1.2em;
    }
    .container_populaires {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 1em 0;
    }
    .container_populaires_flex {
        flex-direction: column;
    }
    .vignettes_activites {
        width: 90vw;
        margin: 1em 0;
    }
}
